{% if compartir is not defined %}
    {% set compartir = false %}
{% endif %}
<div class="row imagen-nino"  id="componente-{{componente.id}}">
    {% if compartir==false and componente.historia.usuario.id == app.user.id %}
        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-10 col-md-2 col-md-offset-10"> 
        <button onclick="if(confirm('Desea eliminar el imagen?')){eliminarComponente({{componente.id}});}" class="btn btn-mini btn-danger" style="max-width: 100px;">Eliminar</button>
        </div>
    {% endif %}
    <figure class="col-xs-12">
        <img src="{{ componente.webPath | imagine_filter('imagen_historia') }}" style="max-width: 400px;" alt=""/>
    </figure>
</div>
