{% extends 'FrontendBundle::layout.html.twig' %}

{% block contenido %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                 <h2 class="form-registro-encabezado text-center">
                        Registro 
                </h2>   
                <form class="form-registro" role="form" action="{{path('registro')}}" method="post" enctype="multipart/form-data">
                    <figure id="imagen-usuario">
                        <img src="/images/sin-imagen-usuario.png"/>
                        <figcaption>
                            seleccionar imagen de perfil
                        </figcaption>
                    </figure>
                    <span class="agregar">
                        <input type="file" name="imagen" accept="image/*" capture="camera" style="display: none;"/>
                    </span>
                    <p>&nbsp;</p>
                    <input type="text" name="usuario" class="form-control" placeholder="Usuario (requerido)" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="Password (requerido)"  required>
                    <input type="email" name="email" class="form-control" placeholder="Email (requerido)"  required>
                    <input type="text" name="cuidad" class="form-control" placeholder="Cuidad o estado (opcional)">
                    <textarea name="biografia" class="form-control" placeholder="Bio (opcional)"></textarea>
                    <textarea name="ser_madre" class="form-control" placeholder="Ser madre es (requerido)" required></textarea>
                    <p>&nbsp;</p>
                    <h4>Tus hijos...</h4>
                    <div class="agregarNinos row well">
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 col-md-6">
                                <div class="input-group">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default restaNino" type="button" id="restaNino" data-input="ninos">-</button>
                                  </span>
                                  <input type="text" name="ninos" class="form-control" id="ninos" value="0" readonly="readonly">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default sumaNino" type="button" id="sumaNino" data-input="ninos">+</button>
                                  </span>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-2">
                                <p>Niños</p>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1">
                                <a href="registroNinos.html">
                                    <img class="flecha" src="img/fecha.png"/>
                                </a>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 col-md-6">
                                <div class="input-group">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default restaNina" type="button" id="restaNina" data-input="ninas">-</button>
                                  </span>
                                  <input type="text" name="ninas" class="form-control" id="ninas" value="0"  readonly="readonly">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default sumaNina" type="button" id="sumaNina" data-input="ninas">+</button>
                                  </span>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-2">
                                <p>Niñas</p>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-md-1">
                                <a href="registroNinos.html">
                                    <img class="flecha" src="img/fecha.png"/>
                                </a>
                            </div>
                        </div>    
                    </div>
                    
                    <button class="btn btn-block btn-lg btn-danger" type="submit">Registro</button>
                </form>
         </div>
    </div>    
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <!-- login con facebook -->
        <!-- cambiar los valores correctos para la aplicacion -->
        <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : 'APP_ID', // App ID
            channelUrl : 'http://richpolis.interactivevalley.com/babystory/registro.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });


              FB.Event.subscribe('auth.authResponseChange', function(response) 
              {
               if (response.status === 'connected') 
              {
                      document.getElementById("message").innerHTML +=  "<br>Connected to Facebook";
                      //SUCCESS

              }	 
              else if (response.status === 'not_authorized') 
          {
              document.getElementById("message").innerHTML +=  "<br>Failed to Connect";

                      //FAILED
          } else 
          {
              document.getElementById("message").innerHTML +=  "<br>Logged Out";

              //UNKNOWN ERROR
          }
              });	

          };

              function Login()
              {

                      FB.login(function(response) {
                         if (response.authResponse) 
                         {
                              getUserInfo();
                              } else 
                              {
                       console.log('User cancelled login or did not fully authorize.');
                              }
                       },{scope: 'email,user_photos,user_videos'});


              }

        function getUserInfo() {
                  FB.api('/me', function(response) {

                var str="<b>Name</b> : "+response.name+"<br>";
                        str +="<b>Link: </b>"+response.link+"<br>";
                        str +="<b>Username:</b> "+response.username+"<br>";
                        str +="<b>id: </b>"+response.id+"<br>";
                        str +="<b>Email:</b> "+response.email+"<br>";
                        str +="<input type='button' value='Get Photo' onclick='getPhoto();'/>";
                        str +="<input type='button' value='Logout' onclick='Logout();'/>";
                        document.getElementById("status").innerHTML=str;

          });
          }
              function getPhoto()
              {
                FB.api('/me/picture?type=normal', function(response) {

                        var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
                        document.getElementById("status").innerHTML+=str;

          });

              }
              function Logout()
              {
                      FB.logout(function(){document.location.reload();});
              }

        // Load the SDK asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));

</script>    
<script>
    $(document).ready(function(){
        setTimeout(function(){
            $(".alert").fadeOut('slow');
        },2000);
    });
</script>
{% endblock %}    