<div class="row sonido-nino">
    <div class="col-xs-12">
        <audio controls>
            <source src="/apps/babystory/web{{componente.webPath}}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>
</div>
