<div class="row sonido-nino"  id="componente-{{componente.id}}">
    {% if componente.historia.usuario.id == app.user.id %}
        <button onclick="eliminarComponente({{componente.id}})" class="btn btn-danger">Eliminar</button>
        {% endif %}
    <div class="col-xs-12">
        <audio controls>
            <source src="{{constant('Richpolis\\FrontendBundle\\Controller\\DefaultController::RUTA_WEB')}}{{componente.webPath}}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>
</div>
