{% if compartir is not defined %}
    {% set compartir = false %}
{% endif %}
<div class="row imagen-nino"  id="componente-{{componente.id}}">
    {% if compartir==false and componente.historia.usuario.id == app.user.id %}
        <button onclick="eliminarComponente({{componente.id}})" class="btn btn-danger">Eliminar</button>
        {% endif %}
    <div class="col-xs-12">
        <iframe src ="http://www.youtube.com/embed/{{componente.webPath}}?rel=1&autoplay=0" width="400px" height="350px" frameborder="no"></iframe>
    </div>
</div>
