<div class="row imagen-nino">
    <div class="col-xs-12">
        <iframe src ="http://www.youtube.com/embed/{{componente.webPath}}?rel=1&autoplay=0" width="400px" height="350px" frameborder="no"></iframe>
    </div>
</div>
